{% extends "_base.html" %}

{% block title %}
    <title>Check word</title>
{% endblock %}
{% block main %}
    <form name="CheckWord" method="post">
        {% csrf_token %}
        <div>
            <input name="word"/>
        </div>
        <div>
            <select name="elem">
                <option value="full">Full</option>
                <option value="end">End</option>
                <option value="main">Main</option>
                <option value="pref">Prefix</option>
            </select>
        </div>
        <div>
            <input name="Submit" class="btn btn-success" type="submit"/>
        </div>
    </form>
{% endblock %}
{% block back %}
    <div><a class="btn btn-danger" href="{% url 'index' %}">Back to main</a></div>
{% endblock %}