{% extends "_base.html" %}
{% block title %}
    <title>Load words</title>
{% endblock %}
{% block main %}
    <form name="prefixes" action="/settings/load-words/" method="post">
        {% csrf_token %}
        <div>
            <input type="file" class="btn" name="file"/>
        </div>
        <div>
            <input type="submit" class="btn btn-success" name="Submit"/>
        </div>
    </form>
{% endblock %}
{% block back %}
    <div><a class="btn btn-danger" href="{% url 'settings_index' %}">Back to settings</a></div>
{% endblock %}