<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Load prefixes</title>
</head>
<body>
    <form name="prefixes" action="/settings/load-prefixes/" method="post">
        {% csrf_token %}
        <input type="file" name="file"/>
        <select name="part">
            <option value="pref">Перефікс</option>
            <option value="main">Основа</option>
            <option value="end">Закінчення</option>
        </select>
        <input type="submit" name="Submit"/>
    </form>
</body>
</html>